node_modules
dist
dist-ssr
*.local

.DS_Store
*.log
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.vscode/*
!.vscode/extensions.json
.idea

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
!.env.example

# wrangler 本地开发状态
.wrangler/
